.button {
  color: rgb(53, 53, 53);
  background: transparent;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  cursor: pointer;
}

.background:hover {
  background-color: hsl(180, 61%, 68%);
}

.background {
  background: hsl(180, 66%, 49%);
  color: white;
}
