.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hero__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;

}

.hero__heading {
  font-size: 4rem;
  color: hsl(260, 8%, 14%);
}

.hero__paragraph {
  color: hsl(0, 0%, 50%);
}

.hero__image_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
