.box {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.originText {
  font-size: 0.9rem;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shortedText {
  font-size: 0.9rem;
  color: hsl(180, 66%, 49%);
}

.export {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
